<!--
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
-->
<h3>The uiversity is the totality of everything that existed,existing,will exist</h3>

<p>This site is dedicated to the questions of the Questions &amp; Answers </p>
<ul class="media-list">
  <li class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="http://gravatar.com/avatar/424242" alt="gravatar avatar">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Email id asked:</h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      
    </div>
  </li>
    <li class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="http://gravatar.com/avatar/424242" alt="gravatar avatar">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Email id asked:</h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      
    </div>
  </li>
    
</ul>